@font-face {
	font-family: 'angrybirds';
	src: url('../fonts/angrybirds.eot');
	src: local('☺'), url('../fonts/angrybirds.woff') format('woff'), url('../fonts/angrybirds.ttf') format('truetype'), url('../fonts/angrybirds.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

